body 
{
	/*background-color: #555;
	color: #ddd;*/
	padding-bottom: 20px;
}

#facebook
{
	position: absolute;
	top: 20px;
	right: 0px;
}

.spjdrlogo {
	background-image: url('../img/logo/spjdr.png');
	background-position: center center;
	background-repeat: no-repeat;
	width: 260px;
	height: 130px;
}

.modernizrsvg .spjdrlogo {
	background-image: url('../img/logo/spjdr-07.svg');
}

/* 
 * CLASS APP
 */

.appcontainer {
	background: #fdfdfd;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.apps {
	padding: 35px 0 0 0;
	margin: 0 auto;
	text-align: center;
}

.app {
	text-align: center;
	display: inline-block;
	width: 180px;
}

.app_icon {
	height: 120px;
	display: block;
	width: 120px;
	border: 1px solid #bbb;
	margin: 0 auto;
	border-radius: 10px;
	box-shadow: 0px 0px 10px #ccc;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(255,255,255,1) 0%, rgba(248,250,252,1) 38%, rgba(239,245,249,1) 58%, rgba(244,249,252,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(38%,rgba(248,250,252,1)), color-stop(58%,rgba(239,245,249,1)), color-stop(100%,rgba(244,249,252,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(248,250,252,1) 38%,rgba(239,245,249,1) 58%,rgba(244,249,252,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(248,250,252,1) 38%,rgba(239,245,249,1) 58%,rgba(244,249,252,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(248,250,252,1) 38%,rgba(239,245,249,1) 58%,rgba(244,249,252,1) 100%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(255,255,255,1) 0%,rgba(248,250,252,1) 38%,rgba(239,245,249,1) 58%,rgba(244,249,252,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f9fc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background-repeat: no-repeat;
	background-position: center center;
}

.lbs_icon {
	background-image: url('../img/apps/learningbysharing.png');
}

.flow_icon {
	background-image: url('../img/apps/flow.png');
}

.kog_icon {
	background-image: url('../img/apps/kortoggodt.png');
}

.huskekort_icon {
	background-image: url('http://spjdr.dk/huskekort/assets/img/huskekort-icon-120x120.png');
}

.semafore_icon {
	background-image: url('http://spjdr.dk/semafore/apple-touch-icon-120x120.png');
}

.telegraf_icon {
	background-image: url('http://spjdr.dk/telegraf/assets/icon/apple-touch-icon-120x120.png');
}

.app a {
	display: block;
}

.app_title {
	font-size: 120%;
	font-weight: bold;
	padding: 10px 5px 5px 5px;
}



.app_desc {
	font-size: 85%;
	padding: 0 10px;
	height: 3.4em;
	max-height: 3.1em;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media screen and (max-width: 699px) {
	.app_title {
		font-size: 80%;
	}

	.app {
		text-align: center;
		float: left;
		width: 110px;
	}

	.app_icon {
		height: 76px;
		width: 76px;
	}

	.huskekort_icon {
		background-image: url('http://spjdr.dk/huskekort/assets/img/huskekort-icon-76x76.png');
	}

	.semafore_icon {
		background-image: url('http://spjdr.dk/semafore/apple-touch-icon-76x76.png');
	}

	.telegraf_icon {
		background-image: url('http://spjdr.dk/telegraf/assets/icon/apple-touch-icon-76x76.png');
	}

	.app_title {
		font-size: 10pt;
	}
}

/*.app:hover {
	background-color: #99ee99;
}*/




/*
 * CLASS PERSON
 */

.person
{
	position: relative;
	height: 228px;
	border: 1px solid #888;

	padding: 10px;
}

.person img
{
	position: absolute;
	top: 10px;
	left: 10px;
}

.person h4 
{
	margin-top: 10px;
}

.person h4, .person p
{
	margin-left: 140px;
	margin-right: 10px;
}

